.homeDesign{
width: auto;
height: 93vh;
background-color: linear-gradient(75deg, #f6d365 0%, #fda085 100%);
}

.carouselDesign{
    width: 85vw;
    height: 80vh;
}

.textDesign {
    color: #39918c;
}

