

.footerDesign{
background-image: linear-gradient(75deg, #e886706b 0%, #e8867099 100%);
    color: rgba(245, 245, 245, 0.533);
    //border-bottom: #fda085 solid 0.1em;
    font-family: Franklin Gothic Medium;
   height: auto;
   width: auto;
}

.footerText{
    color: white
}